/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    background-color: #fbfbfb;
    color: #0f0f0f;
    
}
h1{
    font-size: 36;
    text-align: center;
}
h2{
    font-size: 28;
    text-align: center; 
}
/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}
/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}
/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px -5px;
    background-color: #fbfbfb;
}
.logo{
    width: 70%;
   
}
ul#menu{
    display: flex;
    font-size: 20px;
}
li.menu-item a{
    padding: 16px;
    
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
    padding-top: 120px;
}

section#inicio{
    justify-content: space-around;
    text-align: center;
}
figure.presentacion-img{
    margin-bottom: 20px;

}
figure.presentacion-img img{
    border-radius: 50%;
    width: 400px;
}

article.presentacion{
    width: 100%;
    text-align: center;
}
a.btn{
    background-color: #af599e;
    color: #fbfbfb;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 20px;
    display: inline-block;
    margin-top: 5%;
}

section#contacto{
    justify-content:space-aroundce;
    text-align: center;
    display: flex;
    padding-top: 10%;
   
}
div.colorfondo{
    background-color: rgba(175, 89, 158, 0.3) ;
    border-radius: 10px 10px 10px;
    padding: 5%;
   
}
div .icono{

    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20%;  
    padding: 10%;
    
        
}
div.icono img{

    width: 20%;
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;

}
     
footer{
    text-align: center;
    padding: 40px;
    background-color: #af599e;
    align-self: flex-end;
    font-weight: 900;
    font-weight: bold;
    color: #fbfbfb;
    margin-top: 10%;
    height: 90px;
    width: 100%;
    }